arrow==0.16.0
autopep8==1.5.4
beautifulsoup4==4.9.1
bs4==0.0.1
cassiopeia==4.0.13
cassiopeia-championgg==1.0.7
cassiopeia-diskstore==1.1.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
datapipelines==1.0.7
decorator==4.4.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
merakicommons==1.0.9
networkx==2.5
nose==1.3.7
numpy==1.19.1
pandas==1.1.2
Pillow==8.3.2
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
role-identification @ git+https://github.com/meraki-analytics/role-identification.git@c41b494318a1f214675c27c613f4566a436d0e27
roleml==0.2.1
scikit-learn==0.23.0
scipy==1.5.2
Shapely==1.7.1
simplekv==0.14.1
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
threadpoolctl==2.1.0
toml==0.10.1
urllib3==1.26.5
Werkzeug==1.0.1
