{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="media">
                <img src="static\10.19.1\img\profileicon\{{ summoner.profile_icon.id }}.png" alt="Profile icon"
                    class="mr-3 image-fluid" width="150px" id="profile-icon">
                <div class="media-body">
                    <h1 class="mt-0"><b>{{ summoner.name }}</b></h5>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <h1 class="overlaid-text">
        {% for name in translations %}
        <b>{{ name.text }}</b>
        <br>
        {% endfor %}
    </h1>
</div>
</div>
{% endblock %}