{% extends "base.html" %}
{% block title %}Scout Ahead{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-1 text-center">scoot ahead</h1>
    {% if team %}
        {% for comp in team %}
        Score: {{ comp["full_score"] }} / 17
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <img src='/static/current/img/champion/{{ comp["champions"].top["name"] }}.png' height="64" width="64">
            </li>
            <li class="list-group-item">
                <img src='/static/current/img/champion/{{ comp["champions"].jungle["name"] }}.png' height="64" width="64">
            </li>
            <li class="list-group-item">
                <img src='/static/current/img/champion/{{ comp["champions"].mid["name"] }}.png' height="64" width="64">
            </li>
            <li class="list-group-item">
                <img src='/static/current/img/champion/{{ comp["champions"].bot["name"] }}.png' height="64" width="64">
            </li>
            <li class="list-group-item">
                <img src='/static/current/img/champion/{{ comp["champions"].support["name"] }}.png' height="64" width="64">
            </li>

        </ul>
        {% endfor %}

    {% endif %}
</div>

{% endblock %}