{% extends "base.html" %}
{% block title %}Scout Ahead{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-1 text-center">scout ahead</h1>
    {% if team %}
        {% for summoner in team %}
        <div class="media">
            <img src="static\10.16.1\img\profileicon\{{ summoner.profile_icon }}.png" class="mr-3" alt="Summoner profile icon" width="64" height="64">
            <div class="media-body">
                <h5 class="mt-0">{{ summoner.name }}</h5>
                <ul>
                    {% for champion in summoner.champions[0:5] %}
                    <li>{{ champion[0] }}: {{ champion[1]['win_rate'] }}%</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}