{% extends "base.html" %}
{% block title %}Scout Ahead{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-1 text-center">scout ahead</h1>
    <form action="/comps" method="post">
        <div class="form-group">
            <label>Team</label>
            <input type="text" class="form-control" name="top">
            <input type="text" class="form-control" name="jungle">
            <input type="text" class="form-control" name="mid">
            <input type="text" class="form-control" name="bot">
            <input type="text" class="form-control" name="support">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}